<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改sys_app')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pfApp-edit" th:object="${sysApp}">
            <input id="appId" name="appId" th:field="*{appId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">app名称：</label>
				<div class="col-sm-8">
					<input id="appName" name="appName"  th:field="*{appName}"  class="form-control" type="text" required="required">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app英文名称：</label>
				<div class="col-sm-8">
					<input id="appNameEn" name="appNameEn" th:field="*{appNameEn}" class="form-control" type="text" required="required">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app描述：</label>
				<div class="col-sm-8">
					<input id="appDesc" name="appDesc" th:field="*{appDesc}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">官网地址：</label>
				<div class="col-sm-8">
					<input id="website" name="website" th:field="*{website}" class="form-control" type="text" required="required">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">图标：</label>
				<div class="col-sm-8">
					<input id="appIcon" name="appIcon" th:field="*{appIcon}" class="form-control" type="text" placeholder="选择图标" required="required">
                    <div class="ms-parent" style="width: 100%;">
                        <div class="icon-drop animated flipInX" style="display: none;max-height:200px;overflow-y:auto">
                            <div data-th-include="system/app/icon"></div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app类型:</label>
                <div class="col-sm-8">
						<label class="radio-box"> <input type="radio" id="appType" name="appType" value=PCWEB th:checked="${sysApp.appType == 'PCWEB'}" required /> PC Web应用 </label> 
						<label class="radio-box"> <input type="radio" id="appType" name="appType" value="app"  th:checked="${sysApp.appType == 'app'}" required/> App移动应用</label> 
						<label class="radio-box"> <input type="radio" id="appType" name="appType" value="Server"  th:checked="${sysApp.appType == 'Server'}" required/> Server</label> 
						<label class="radio-box"> <input type="radio" id="appType" name="appType" value="wap" th:checked="${sysApp.appType == 'wap'}"  required/> 移动Web应用</label> 
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">移动应用操作系统:</label>
				<div class="col-sm-8">
						<label class="radio-box"> <input type="radio" id="appOs" name="appOs" value="Android" th:checked="${sysApp.appOs == 'Android'}" required /> "Android" </label> 
						<label class="radio-box"> <input type="radio" id="appOs" name="appOs" value="IOS"  th:checked="${sysApp.appOs == 'IOS'}"  required/>IOS</label> 
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
						<label class="radio-box"> <input type="radio" name="status" value="1"  th:checked="${sysApp.status == 1}" /> 有效 </label> 
						<label class="radio-box"> <input type="radio" name="status" value="0" th:checked="${sysApp.status == 0}" /> 无效</label> 
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">不允许删除：</label>
				<div class="col-sm-8">
						<label class="radio-box"> <input type="radio" name="isPersist" value="0"  th:checked="${sysApp.isPersist == 0}"/> 充许 </label> 
						<label class="radio-box"> <input type="radio" name="isPersist" value="1"  th:checked="${sysApp.isPersist == 1}"/>不充许</label> 
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/app";
		$("#form-pfApp-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-pfApp-edit').serialize());
	        }
	    }
		
		
		$(function() {
        	$("input[name='appIcon']").focus(function() {
                $(".icon-drop").show();
            });
        	$("#form-pfApp-edit").click(function(event) {
        	    var obj = event.srcElement || event.target;
        	    if (!$(obj).is("input[name='appIcon']")) {
        	    	$(".icon-drop").hide();
        	    }
        	});
        	$(".icon-drop").find(".ico-list i").on("click", function() {
        		$('#appIcon').val($(this).attr('class'));
            });
        });
	</script>
</body>
</html>
