<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="alps-cloud平台后台管理">
    <title>alps-cloud平台后台管理</title>
   <link href="./alps/style_log.css"  th:href="@{/css/alps/style_log.css?v1}" rel="stylesheet"/>
   <link href="./alps/style.css"  th:href="@{/css/alps/style.css}" rel="stylesheet"/>
   <link href="./alps/userpanel.css"  th:href="@{/css/alps/userpanel.css}" rel="stylesheet"/>
   
    <link rel="shortcut icon" href="../static/favicon.png" th:href="@{favicon.png}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>
</head>

<body class="login">
<div class="login_m">
<div class="login_boder">
<form id="signupForm">
<div class="login_padding" id="login_model">
 <div class ="logo_name">Advanced Live Production system</div>
  <h2>请输入用户名:</h2>
  <label>
    <input type="text" id="username"  name="username"  class="txt_input txt_input2" onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value="Your name">
  </label>
  <h2>请输入密码:</h2>
  <label>
    <input type="password" name="password" id="password" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="">
  </label>
  
<div style="width: 100%;margin: 15px 0px; "  th:if="${captchaEnabled==true}">
		<div  style="width: 70%; float:left">
		<a href="javascript:void(0);" title="点击更换验证码">
		    <img th:src="@{captcha/captchaImage(type=${captchaType})}"   class="imgcode" style="height: 40px" />
		    	</a>
		</div>
		<div  style="float:left;width: 30%; ">
				<input type="text" name="validateCode"  placeholder="验证码" maxlength="5"  class="txt_aldate" autocomplete="off">
		</div>
	</div>  
  <div class="rem_sub">
 <!--  <div class="rem_sub_l" th:classappend="${captchaEnabled==false} ? 'm-t'">
  <input type="checkbox" name="rememberme" id="rememberme" >
       <label for="checkbox">Remember me</label>
   </div>
    -->
    <label>
      <input type="submit" class="sub_button" name="btnSubmit" id="btnSubmit"  data-loading="正在验证登录，请稍后..."  value="SIGN-IN" style="opacity: 0.7;"/>
    </label>
  </div>
</div>
</form>

<div id="forget_model" class="login_padding" style="display:none">
<br>

   <h1>Forgot password</h1>
   <br>
   <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to user’s registered email address.)</div>
    <label>
    <input type="text" id="usrmail" class="txt_input txt_input2">
   </label>

 
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
     <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">　　
    </label>
  </div>
</div>






<!--login_padding  Sign up end-->
</div><!--login_boder end-->

<div style="color:rgba(255,255,255,0.6);line-height:12px;margin-top:15px;">
<p align="center"> ALPs(Advanced Live Production system)</p>
<p align="center" style="margin-top: 5px;">  &copy; 2019 All Rights ITSS-SOFT-SERVICE </p>
</div>
</div><!--login_m end-->
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/alps/js/lps.js" th:src="@{/alps/js/lps.js?v=3.3.0}"></script>
<script src="../static/alps/login.js" th:src="@{/alps/login.js}"></script>
</body></html>