<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('action列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								事件/action名称：<input type="text" name="actionCode"/>
							</li>

							<li>
								对应的API：<select id="apiId" name="apiId">
					            <option value="">----</option>
											<option th:each="app:${apiList}" th:value="${app.apiId}" th:text="${app.apiShow}" ></option>
								</select>
							</li>


							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pf:pfAciton:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="pf:pfAciton:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pf:pfAciton:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pf:pfAciton:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pf:pfAciton:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pf:pfAciton:remove')}]];
        var prefix = ctx + "pf/pfAciton";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "action",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'actionId', 
					title : 'id',
					visible: false
				},
				{
					field : 'actionCode', 
					title : '事件/action名称',
					sortable: true
				},
				{
					field : 'actionNameEn', 
					title : '事件中英文名字',
					sortable: true
				},
				{
					field : 'actionNameCn', 
					title : '事件中文名字',
					sortable: true
				},
				{
					field : 'actionNameTw', 
					title : '事件繁体中文名字',
					sortable: true
				},
				{
					field : 'actionDesc', 
					title : '动作描述',
					sortable: true
				},
				{
					field : 'apiId', 
					title : '对应的API',
					sortable: true
				},
				{
					field : 'status', 
					title : '是否有效',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '开发创建者',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '开发修改者',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.actionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.actionId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>