<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alps.pf.mapper.PfActionRefMapper">
    
    <resultMap type="PfActionRef" id="PfActionRefResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
        <result property="actionId"    column="action_id"    />
        <result property="status"    column="status"    />
    </resultMap>
	
	<sql id="selectPfActionRefVo">
        select id, company_id, role_id, menu_id, action_id, status from pf_action_ref
    </sql>
	
    <select id="selectPfActionRefList" parameterType="PfActionRef" resultMap="PfActionRefResult">
        <include refid="selectPfActionRefVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="companyId != null  and companyId != '' "> and company_id = #{companyId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="menuId != null "> and menu_id = #{menuId}</if>
             <if test="actionId != null  and actionId != '' "> and action_id = #{actionId}</if>
             <if test="status != null "> and status = #{status}</if>
         </where>
    </select>
    
    <select id="selectPfActionRefById" parameterType="String" resultMap="PfActionRefResult">
        <include refid="selectPfActionRefVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPfActionRef" parameterType="PfActionRef">
        insert into pf_action_ref
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="companyId != null  and companyId != ''  ">company_id,</if>
			<if test="roleId != null  ">role_id,</if>
			<if test="menuId != null  ">menu_id,</if>
			<if test="actionId != null  and actionId != ''  ">action_id,</if>
			<if test="status != null  ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="companyId != null  and companyId != ''  ">#{companyId},</if>
			<if test="roleId != null  ">#{roleId},</if>
			<if test="menuId != null  ">#{menuId},</if>
			<if test="actionId != null  and actionId != ''  ">#{actionId},</if>
			<if test="status != null  ">#{status},</if>
         </trim>
    </insert>
	 
    <update id="updatePfActionRef" parameterType="PfActionRef">
        update pf_action_ref
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  and companyId != ''  ">company_id = #{companyId},</if>
            <if test="roleId != null  ">role_id = #{roleId},</if>
            <if test="menuId != null  ">menu_id = #{menuId},</if>
            <if test="actionId != null  and actionId != ''  ">action_id = #{actionId},</if>
            <if test="status != null  ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePfActionRefById" parameterType="String">
        delete from pf_action_ref where id = #{id}
    </delete>
    
    <delete id="deletePfActionRefByAc" parameterType="PfActionRef">
        delete from pf_action_ref 
        <where>  
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="companyId != null  and companyId != '' "> and company_id = #{companyId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="menuId != null "> and menu_id = #{menuId}</if>
             <if test="actionId != null  and actionId != '' "> and action_id = #{actionId}</if>
             <if test="status != null "> and status = #{status}</if>
         </where>
    </delete>
	
    <delete id="deletePfActionRefByIds" parameterType="String">
        delete from pf_action_ref where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <insert id="batchRoleGateway">
		insert into pf_action_ref(id, company_id,role_id,menu_id,action_id,status) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.id},#{item.companyId},#{item.roleId},#{item.menuId},#{item.actionId},#{item.status})
		</foreach>
	</insert>
    
    
</mapper>