<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alps.pf.mapper.PfAcitonMapper">
    
    <resultMap type="PfAciton" id="PfAcitonResult">
        <result property="actionId"    column="action_id"    />
        <result property="actionCode"    column="action_code"    />
        <result property="actionNameEn"    column="action_name_en"    />
        <result property="actionNameCn"    column="action_name_cn"    />
        <result property="actionNameTw"    column="action_name_tw"    />
        <result property="actionDesc"    column="action_desc"    />
        <result property="apiId"    column="api_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectPfAcitonVo">
        select action_id, action_code, action_name_en, action_name_cn, action_name_tw, action_desc, api_id, status, create_by, create_time, update_by, update_time from pf_aciton
    </sql>
	
    <select id="selectPfAcitonList" parameterType="PfAciton" resultMap="PfAcitonResult">
        <include refid="selectPfAcitonVo"/>
        <where>  
            <if test="actionId != null  and actionId != '' "> and action_id = #{actionId}</if>
             <if test="actionCode != null  and actionCode != '' "> and action_code = #{actionCode}</if>
             <if test="actionNameEn != null  and actionNameEn != '' "> and action_name_en = #{actionNameEn}</if>
             <if test="actionNameCn != null  and actionNameCn != '' "> and action_name_cn = #{actionNameCn}</if>
             <if test="actionNameTw != null  and actionNameTw != '' "> and action_name_tw = #{actionNameTw}</if>
             <if test="actionDesc != null  and actionDesc != '' "> and action_desc = #{actionDesc}</if>
             <if test="apiId != null  and apiId != '' "> and api_id = #{apiId}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    
     <select id="selectPfAcitonListByApp" parameterType="String" resultMap="PfAcitonResult">
        SELECT  a.action_id,b.app_id,a.action_code, CONCAT(a.action_desc,"-->",b.api_url) as action_desc FROM pf_aciton a,pf_api b
		WHERE a.api_id = b.api_id
		and b.app_id = #{appId}
    </select>
    
    <select id="selectPfAcitonById" parameterType="String" resultMap="PfAcitonResult">
        <include refid="selectPfAcitonVo"/>
        where action_id = #{actionId}
    </select>
        
    <insert id="insertPfAciton" parameterType="PfAciton">
        insert into pf_aciton
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="actionId != null  and actionId != ''  ">action_id,</if>
			<if test="actionCode != null  and actionCode != ''  ">action_code,</if>
			<if test="actionNameEn != null  and actionNameEn != ''  ">action_name_en,</if>
			<if test="actionNameCn != null  and actionNameCn != ''  ">action_name_cn,</if>
			<if test="actionNameTw != null  and actionNameTw != ''  ">action_name_tw,</if>
			<if test="actionDesc != null  and actionDesc != ''  ">action_desc,</if>
			<if test="apiId != null  and apiId != ''  ">api_id,</if>
			<if test="status != null  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="actionId != null  and actionId != ''  ">#{actionId},</if>
			<if test="actionCode != null  and actionCode != ''  ">#{actionCode},</if>
			<if test="actionNameEn != null  and actionNameEn != ''  ">#{actionNameEn},</if>
			<if test="actionNameCn != null  and actionNameCn != ''  ">#{actionNameCn},</if>
			<if test="actionNameTw != null  and actionNameTw != ''  ">#{actionNameTw},</if>
			<if test="actionDesc != null  and actionDesc != ''  ">#{actionDesc},</if>
			<if test="apiId != null  and apiId != ''  ">#{apiId},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePfAciton" parameterType="PfAciton">
        update pf_aciton
        <trim prefix="SET" suffixOverrides=",">
            <if test="actionCode != null  and actionCode != ''  ">action_code = #{actionCode},</if>
            <if test="actionNameEn != null  and actionNameEn != ''  ">action_name_en = #{actionNameEn},</if>
            <if test="actionNameCn != null  and actionNameCn != ''  ">action_name_cn = #{actionNameCn},</if>
            <if test="actionNameTw != null  and actionNameTw != ''  ">action_name_tw = #{actionNameTw},</if>
            <if test="actionDesc != null  and actionDesc != ''  ">action_desc = #{actionDesc},</if>
            <if test="apiId != null  and apiId != ''  ">api_id = #{apiId},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where action_id = #{actionId}
    </update>

	<delete id="deletePfAcitonById" parameterType="String">
        delete from pf_aciton where action_id = #{actionId}
    </delete>
	
    <delete id="deletePfAcitonByIds" parameterType="String">
        delete from pf_aciton where action_id in 
        <foreach item="actionId" collection="array" open="(" separator="," close=")">
            #{actionId}
        </foreach>
    </delete>
    
</mapper>