<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alps.pf.mapper.PfApiLogicMapper">
    
    <resultMap type="PfApiLogic" id="PfApiLogicResult">
        <result property="id"    column="id"    />
        <result property="apiId"    column="api_id"    />
        <result property="logicId"    column="logic_id"    />
        <result property="order"    column="order"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectPfApiLogicVo">
        select id, api_id, logic_id, order, status, create_by, create_time from pf_api_logic
    </sql>
	
    <select id="selectPfApiLogicList" parameterType="PfApiLogic" resultMap="PfApiLogicResult">
        <include refid="selectPfApiLogicVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="apiId != null  and apiId != '' "> and api_id = #{apiId}</if>
             <if test="logicId != null  and logicId != '' "> and logic_id = #{logicId}</if>
             <if test="order != null "> and order = #{order}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectPfApiLogicById" parameterType="String" resultMap="PfApiLogicResult">
        <include refid="selectPfApiLogicVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPfApiLogic" parameterType="PfApiLogic">
        insert into pf_api_logic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="apiId != null  and apiId != ''  ">api_id,</if>
			<if test="logicId != null  and logicId != ''  ">logic_id,</if>
			<if test="order != null  ">order,</if>
			<if test="status != null  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="apiId != null  and apiId != ''  ">#{apiId},</if>
			<if test="logicId != null  and logicId != ''  ">#{logicId},</if>
			<if test="order != null  ">#{order},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePfApiLogic" parameterType="PfApiLogic">
        update pf_api_logic
        <trim prefix="SET" suffixOverrides=",">
            <if test="apiId != null  and apiId != ''  ">api_id = #{apiId},</if>
            <if test="logicId != null  and logicId != ''  ">logic_id = #{logicId},</if>
            <if test="order != null  ">order = #{order},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePfApiLogicById" parameterType="String">
        delete from pf_api_logic where id = #{id}
    </delete>
	
    <delete id="deletePfApiLogicByIds" parameterType="String">
        delete from pf_api_logic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>