body{
    padding:10px;
}
table.condition{
    border: 1px;
    width: 80%;
    margin-left:50px;
    margin-right: 50px;
}
table.condition td{
    border: 1px;
}
table.condition td.title-left{
    background: #DCDCDC;
    text-align:justify;
    text-align-last:justify;
    padding-left:6px;
    padding-right: 6px;
    font-size: 9pt;
    font-weight: bold;
    min-width: 50px;
    width:60px;
    max-width: 80px;
}
table.condition td.title-right{
    text-align:left;
    padding-right: 8px;
}
div.right{
    margin: 5px;
    text-align: right;
}